@media (min-width: 768px) and (max-width: 998px) {
    .nav-bar .nav-bar-table tr td a {
        font-size: 14px !important;
        font-weight: normal !important;
    }
}

@media (max-width: 768px) {
    .basic-info .basic-info-block .table-responsive .table {
        max-width: none;
    }
}
