@import url('https://fonts.googleapis.com/css?family=Roboto');

@media (min-width: 768px) and (max-width: 998px) {
    .nav-bar .nav-bar-table tr td a {
        font-size: 14px !important;
        font-weight: normal !important;
    }
}

@media (max-width: 768px) {
    .basic-info .basic-info-block .table-responsive .table {
        max-width: none;
    }
}

#ottSaasHeader {
    font-family: 'Roboto', sans-serif;
    background: #10002B;
}

#ottSaasFooter {
    font-family: 'Roboto', sans-serif;
    background: #0e0027;
    min-height: 200px;
    padding: 20px 5px;
}

/**
 * Custom header styles begin
 */
.ottwl-header {
    height: 80px;
    padding: 0 0;
    justify-content: flex-start;
}

.ottwl-header .ottwl-header__block.mobile-nav {
    order: 1;
}

.ottwl-header .ottwl-header__block:last-child {
    margin-left: auto;
    order: 3;
}

.ottwl-header .ottwl-header__block.mobile-nav .mobile-menu .icons-btn:hover svg {
    color: inherit;
    fill: inherit;
}

nav.mobile-menu-open {
    background: inherit;
}

.ottwl-header .ottwl-header__block.mobile-nav .mobile-menu .dropdown-menu {
    background: rgba(16,0,43,.9);
}

nav.mobile-menu-open .mobile-menu .dropdown-menu li > a {
    color: #FFFFFF;
}

.ottwl-header .ottwl-header__block.mobile-nav .mobile-menu.dropdown a.dropdown-toggle {
    border: 1px solid #2D2140;
    padding: 5px 10px;
    line-height: 9px;
    font-size: 16px;
    color: #887F92;
    fill: #887F92;
}

.ottwl-header .ottwl-header__block.mobile-nav .mobile-menu.dropdown a.dropdown-toggle:hover {
    color: #887F92;
    fill: #887F92;
}

.ottwl-header .ottwl-header__block.mobile-nav .mobile-menu.dropdown a.dropdown-toggle svg path + path {
    color: #887F92;
    fill: #887F92;
}

.ottwl-header .ottwl-header__block .ottwl-header__auth-dialog-btn,
.ottwl-header .ottwl-header__block .ottwl-header__logout-btn {
    padding: 0 10px !important;
    line-height: 18px;
}

.ottwl-header .ottwl-header__block .ottwl-header__auth-dialog-btn svg path,
.ottwl-header .ottwl-header__block .ottwl-header__logout-btn svg path {
    fill: #887E8F;
}

.logo-block img {
    margin: 3px 25px 3px 0;
}

.lk-head-btn {
    color: #00b2a9;
    border: none;
    padding: 0;
    margin: 0;
    letter-spacing: 0;
    font-size: 16px;
    outline: none;
}

.lk-head-btn:hover {
    color: #00b2a9;
}

.lk-head-btn:focus {
    color: #00b2a9;
    outline: none;
}

.ottwl-header .forms-tabs li {
    padding: 0;
    margin: 0 25px 0 0;
}

.ottwl-header .forms-tabs li:first-child {
    margin: 0 25px;
}

.ottwl-header .forms-tabs li a {
    color: #FFF;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0;
    padding: 0;
    border-bottom: none;
}

.ottwl-header .forms-tabs li:hover a,
.ottwl-header .forms-tabs li:hover a:hover {
    color: #FFF !important;
}
/**
 * Custom header styles end
 */

/**
 * Custom profile styles begin
 */
.nav-bar .mobile-menu button.btn-primary {
    border-color: #D2CECE !important;
    background: none !important;
    outline: none;
}

.nav-bar .mobile-menu button.btn-primary .icon-bar {
    background-color: #887F92;
}

.nav-bar .mobile-menu .navbar-collapse ul li a {
    font-weight: normal;
}
/**
 * Custom profile styles end
 */
