@font-face {
    font-family: OfficinaSerifBook;
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
    src: url('./fonts/OfficinaSerifC-Book.woff2') format('woff2'),
         url('./fonts/OfficinaSerifC-Book.woff')  format('woff'),
         url('./fonts/OfficinaSerifC-Book.ttf')   format('truetype');
}

@font-face {
    font-family: OfficinaSerifBold;
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
    src: url('./fonts/OfficinaSerifC-Bold.woff2') format('woff2'),
         url('./fonts/OfficinaSerifC-Bold.woff')  format('woff'),
         url('./fonts/OfficinaSerifC-Bold.ttf')   format('truetype');
}

@media (min-width: 768px) and (max-width: 998px) {
    .nav-bar .nav-bar-table tr td a {
        font-size: 14px !important;
        font-weight: normal !important;
    }
}

@media (max-width: 768px) {
    .basic-info .basic-info-block .table-responsive .table {
        max-width: none;
    }
}

#ottSaasHeader {
    background: #FFFFFF;
    font-family: OfficinaSerifBook, Helvetica, Arial, sans-serif;
}

#ottSaasFooter {
    background: #282828 url('./beeline-footer-bg.png');
    font-family: OfficinaSerifBook, Arial, sans-serif;
    padding-top: 20px;
    padding-bottom: 5px;
    box-shadow: inset 5px 15px 10px -5px rgba(0, 0, 0, .3);
    -webkit-box-shadow: inset 5px 15px 10px -5px rgba(0, 0, 0, .3);
}

.bonuses form[name='bonusesForm'] .btn-group {
    display: block;
    height: 45px;
    margin-bottom: 10px;
}

.ottwl-header {
    padding: 0 0;
}

.logo-block img {
    margin: 3px 0;
}

.ottwl-header .forms-tabs li {
    padding: 0;
    margin: 0 55px 0 0;
}

.ottwl-header .forms-tabs li:last-child {
    margin-right: 0;
}

.ottwl-header .forms-tabs li a {
    font-size: 17px;
    line-height: 1.2;
    letter-spacing: 0;
    padding: 0;
}

.lk-head-btn,
.ottwl-header .forms-tabs li a,
.auth-popup .nav-tabs > li a,
.nav-bar .mobile-menu .navbar-collapse ul li a {
    font-family: OfficinaSerifBook, Helvetica, Arial, sans-serif;
}

.ottwl-header .forms-tabs li:hover a,
.ottwl-header .forms-tabs li:hover a:hover,
.nav-bar .mobile-menu .navbar-collapse ul li a:hover,
.nav-bar .mobile-menu .navbar-collapse ul li a:focus {
    color: #F49F27 !important;
}

.ottwl-header .ottwl-header__block.mobile-nav {
    order: 0;
}

.nav-bar .mobile-menu .navbar-collapse ul li a {
    letter-spacing: 0;
}

.nav-bar .mobile-menu .navbar-collapse ul li.active a,
.mobile-menu .dropdown-menu li.main-menu-item.active a {
    color: #333333 !important;
    background-color: #FBCE5D !important;
}

.nav-bar .mobile-menu .navbar-collapse ul li.active a:hover {
    color: #333333 !important;
}

.nav-bar .mobile-menu button.btn-primary {
    color: #333333 !important;
    background: none !important;
    border-color: transparent !important;
    outline: none;
}

.nav-bar .mobile-menu button.btn-primary .icon-bar {
    background-color: #333333;
}

.lk-head-btn {
    border: none;
    padding: 0;
    margin: 6px 20px;
    letter-spacing: 0;
    font-size: 17px;
    border-bottom: 1px solid #ACA8A6;
}

.lk-head-btn:hover {
    color: #F49F27;
    border-bottom-color: #F49F27 !important;
}

.form-control:focus {
    border-color: rgba(249, 195, 91, .9) !important;
    box-shadow: inset 0 0 0 1px rgba(249, 195, 91, .9) !important;
}

.form-login a {
    color: #444;
    border-bottom: 1px solid rgba(40, 40, 40, .33);
    text-decoration: none;
}

.form-login a:hover {
    color: #F49F27;
    border-bottom-color: #F49F27;
}

.profile-container a.btn-primary {
    font-family: OfficinaSerifBook, Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 17px;
    position: relative;
    display: inline-block;
    background: -webkit-gradient(linear, left top, left bottom, from(#F6C164), color-stop(60%, #F6C164), to(#FDCF70)) !important;
    background: linear-gradient(#F6C164, #F6C164 60%, #FDCF70) !important;
    margin-bottom: 4px;
    border: none;
    border-radius: 19px;
    color: #000 !important;
    vertical-align: middle;
    min-width: 100px;
    padding: 8px 0;
    transition: -webkit-box-shadow .1s, -webkit-transform .1s;
    transition: box-shadow .1s, transform .1s;
    -webkit-transition: -webkit-box-shadow .1s, -webkit-transform .1s;
    box-shadow: 0 3px 0 0 #EBB16F, 0 4px 0 0 #D99A59, 0 4px 8px 0 rgba(102, 55, 0, .4);
    -webkit-box-shadow: 0 3px 0 0 #EBB16F, 0 4px 0 0 #D99A59, 0 4px 8px 0 rgba(102, 55, 0, .4);
}

.profile-container button.btn-primary,
.profile-container .btn-lg,
.form-login .btn-lg,
.form-registration .btn-lg {
    font-family: OfficinaSerifBook, Helvetica, Arial, sans-serif !important;
    font-size: 17px;
    line-height: 37px;
    position: relative;
    display: inline-block;
    background: -webkit-gradient(linear, left top, left bottom, from(#F6C164), color-stop(60%, #F6C164), to(#FDCF70)) !important;
    background: linear-gradient(#F6C164, #F6C164 60%, #FDCF70) !important;
    transition: -webkit-box-shadow .1s, -webkit-transform .1s;
    transition: box-shadow .1s, transform .1s;
    -webkit-transition: -webkit-box-shadow .1s, -webkit-transform .1s;
    box-shadow: 0 3px 0 0 #EBB16F, 0 4px 0 0 #D99A59, 0 4px 8px 0 rgba(102, 55, 0, .4);
    -webkit-box-shadow: 0 3px 0 0 #EBB16F, 0 4px 0 0 #D99A59, 0 4px 8px 0 rgba(102, 55, 0, .4);
    margin-bottom: 4px;
    width: auto;
    height: 37px;
    padding: 0 20px;
    border: none;
    border-radius: 19px;
    outline: none;
    color: #000 !important;
    text-align: center;
    vertical-align: middle;
    text-overflow: ellipsis;
    overflow: hidden;
}

.profile-container button.btn-primary:hover,
.profile-container a.btn-primary:hover,
.profile-container .btn-lg:hover,
.form-login .btn-lg:hover,
.form-registration .btn-lg:hover {
    color: #000 !important;
    background: #FAD485 !important;
}

.profile-container button.btn-primary:active,
.profile-container a.btn-primary:active,
.profile-container .btn-lg:active,
.form-login .btn-lg:active,
.form-registration .btn-lg:active {
    color: #000 !important;
    background: #FAD485 !important;
    outline: none;
    transform: translateY(2px);
    -webkit-transform: translateY(2px);
    -ms-transform: translateY(2px);
    box-shadow: 0 1px 0 0 #EBB16F,0 2px 0 0 #D99A59,0 2px 4px 0 rgba(102, 55, 0, .4);
    -webkit-box-shadow: 0 1px 0 0 #EBB16F,0 2px 0 0 #D99A59,0 2px 4px 0 rgba(102, 55, 0, .4);
}

.auth-popup .nav-tabs {
    width: 100% !important;
    display: inline-flex;
    justify-content: center;
}

div.bonuses .btn-group label,
.auth-popup .nav-tabs > li {
    position: relative;
    display: inline-block;
    width: auto !important;
    vertical-align: top;
    height: 39px;
    line-height: 39px;
    max-width: 220px;
    min-width: 130px;
    padding: 0 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    overflow: hidden;
    background: -webkit-gradient(linear, left top, left bottom, from(#F6F6F6), color-stop(60%, #F6F6F6), to(#FCFCFC));
    background: linear-gradient(#F6F6F6, #F6F6F6 60%, #FCFCFC);
    box-shadow: 0 3px 0 0 #DEDEDE, 0 4px 0 0 #BFBFBF, 0 4px 6px 0 rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 3px 0 0 #DEDEDE, 0 4px 0 0 #BFBFBF, 0 4px 6px 0 rgba(0, 0, 0, .5);
}

div.bonuses .btn-group label {
    margin-left: 0;
}

div.bonuses .btn-group label:hover {
    z-index: 0;
}

div.bonuses .btn-group label.active {
    z-index: 0;
}

div.bonuses .btn-group label:first-child,
.auth-popup .nav-tabs > li:first-child {
    margin-left: 3px;
    border-radius: 19px 0 0 19px;
}

div.bonuses .btn-group label:last-child,
.auth-popup .nav-tabs > li:last-child {
    margin-right: 3px;
    border-radius: 0 19px 19px 0;
}

div.bonuses .btn-group label.active,
.auth-popup .nav-tabs > li.active {
    cursor: default;
    background: #FBCE5D;
    transform: translateY(2px);
    -webkit-transform: translateY(2px);
    -ms-transform: translateY(2px);
    box-shadow: 0 1px 0 0 #EBB16F, 0 2px 0 0 #D99A59, 0 2px 4px 0 rgba(102, 55, 0, .4);
    -webkit-box-shadow: 0 1px 0 0 #EBB16F, 0 2px 0 0 #D99A59, 0 2px 4px 0 rgba(102, 55, 0, .4);
}

.reset-password-popup .ngdialog-content,
.auth-popup .ngdialog-content {
    font-family: OfficinaSerifBook, Helvetica, Arial, sans-serif !important;
}

.auth-popup .nav-tabs > li a {
    font-family: OfficinaSerifBook, Helvetica, Arial, sans-serif !important;
    font-size: 17px !important;
    background: transparent !important;
    border: none !important;
    height: 39px !important;
    line-height: 39px !important;
}

.auth-popup .nav-tabs > li.active a {
    cursor: default;
}

.auth-popup .nav-tabs > li.active a:after {
    content: none !important;
}

.ottwl-header .balance-in-head {
    padding: 0 20px 0;
}

.cardForm .card-block input:focus {
    outline: none;
    border-color: rgba(249, 195, 91, .9);
    box-shadow: inset 0 0 0 1px rgba(249, 195, 91, .9);
}

div.bonuses .btn-group label {
    font-family: OfficinaSerifBook, Helvetica, Arial, sans-serif;
    border: none;
}

div.content-wrap {
    box-shadow: none;
    border-radius: 5px;
}

div.content-wrap a {
    font-family: OfficinaSerifBook, Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: normal !important;
    color: #959595 !important;
}

div.profile-container {
    border: 1px solid rgb(221, 216, 213);
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

div.nav-bar .nav-bar-table td {
    position: relative;
    border: none;
}

div.nav-bar .nav-bar-table a {
    position: relative;
    border-top: 1px solid rgb(221, 216, 213);
    border-bottom: 2px solid #E9E9E9;
}

div.nav-bar .nav-bar-table a:focus {
    text-decoration: none;
    outline: none;
}

div.nav-bar .nav-bar-table a:hover {
    color: #F49F27 !important;
    text-decoration: none;
    cursor: pointer;
}

div.nav-bar .nav-bar-table a.active {
    color: #494949 !important;
    border: none !important;
    cursor: default;
}

div.nav-bar .nav-bar-table a.active:after {
    content: '';
    display: block;
    position: absolute;
    top: -5px;
    bottom: 0;
    left: 0;
    right: 0;
    border: 2px solid #FFCA6D;
    border-radius: 5px;
    width: 100%;
    height: calc(100% + 10px);
}

div.nav-bar .nav-bar-table td:first-child,
div.nav-bar .nav-bar-table td:first-child a {
    border-top-left-radius: 5px;
}

div.nav-bar .nav-bar-table td:first-child a:not(.active) {
    border-left: 1px solid rgb(221, 216, 213);
}

div.nav-bar .nav-bar-table td:last-child,
div.nav-bar .nav-bar-table td:last-child a {
    border-top-right-radius: 5px;
}

div.nav-bar .nav-bar-table td:last-child a:not(.active) {
    border-right: 1px solid rgb(221, 216, 213);
}
